{{extend "layout.html"}}

{{block content}}
{{use "dropzone"}}
{{link "jquery.terminal.css"}}
{{link "jquery.terminal-min.js"}}
{{link "jquery.mousewheel-min.js"}}
{{link "socket.io.min.js"}}
{{link "avalon.js"}}
{{link "session.js"}}
<style>
.shell {font-family:"Courier New";overflow:scroll;font-size:14px;}
.plus {border:1px dotted #999;}
.shell .upload {border:4px solid #ccc;position:absolute;
top:20%;left:20%;width:60%;height:60%;background-color:white;line-height:60%;font-size:20px;}
</style>
<div ms-controller="shell">
    <div class="ui pointing menu">
      <a class="item"
        ms-repeat-item="shells"
        ms-class="active:item.id==cur" 
        ms-click="change(item)">{% item.title %}</a>
      <a class="item" ms-click="newSession">
        <i class="plus basic icon"></i>
      </a>
    </div>
    <div class="shell" ms-repeat-item="shells" ms-attr-id="item.id" ms-visible="item.id==cur">
    </div>
    <div class="preview" style="display:none;"></div>
</div>
{{end}}